@model LeadsManager.Models.LandingPage

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LandingPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSynced)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSynced)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesiredStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesiredStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HSGradYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HSGradYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HighestEduCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HighestEduCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSynced)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSynced)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MilitaryAffiliation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MilitaryAffiliation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptInConsent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptInConsent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreferredContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreferredContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
